# Root .editorconfig
root = true

# All
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space

# Terraform
[*.{tf,tfvars}]
indent_size = 2

# PowerShell
[*.ps1]
indent_size = 4
